label {
    font-weight: normal;
}

label > input + span {
    display: inline-block;
    margin-left: .3em;
}

label.input {
    cursor: pointer;
    display: inline-block;
    margin: 0 3px 3px 0;
    min-height: auto;
    padding: 5px 6px;
    width: auto;
}
