*{margin: 0px; padding: 0;}
img {border:none;}
body { font: 13px  Verdana;	height: 100%;}
a{ text-decoration:none;}
#wrapper {
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width: 100%;
	min-width: 900px;
	background: url(../img/fon.jpg) no-repeat scroll center top transparent;
}
#header, #authfields{ width:100%;}
#footer {
 	position:absolute; 
	bottom:0px;
	width:100%; 
	left:0px; 
	height:30px;
	min-width: 900px;
}
#footer a ,#footer font{ text-decoration:none; color: #444444 ; font: 85%/2 Arial;}
#footer a :hover{ text-decoration:underline;}
#rightdiv{
	background: url("../img/rfon.jpg") no-repeat scroll right top transparent;
	position: relative;
	height: 100%;
	display: block;
	overflow: hidden;
}
#leftdiv{ width:48%; float: left; min-height:100%;}
.ui-button:hover{
	border: 1px solid #79b7e7; 
	background: #d0e5f5;
	font-weight: bold;
	color: #1d5987;
}
.apps-list-ul {
	margin: 0;
	padding: 0; 
	list-style: none;
	text-align: justify;
	line-height: 0;
	zoom:1;
}
.apps-list-ul a  {
	width: 280px;
	height: 200px;
	display: inline-block;
	/* Востанавливаем у потомков, кроме последнего*/
	line-height: normal;
	font-size: 12px;
	/* Без него в Opera будет отступ под элементами */
	vertical-align: top; 
	margin-bottom:10px;
	margin-left:10px;
	text-decoration:none !important;
	/* эмуляция inline-block для IE6-7*/
	//display : inline;
	//zoom : 1;
}

font{
	text-decoration:none !important;
}
