.fieldset > .legend {
    background: transparent;
    padding-bottom: 0;
}

@media ( min-width: 1440px) {
    .fieldset1,
    .fieldset2 {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}

.btn-filter-toggle {
    height: 34px;
}

.property-filter {
    max-height: 0px;
    transition: max-height .15s;
}

.property-filter.open {
    max-height: 300px;
}
