/* progress */

progress[value='0'] {
    display: none;
}


/* .update-file-panel */

.update-file-panel {
    margin: 0 auto 8px;
    width: 99%;
}

.update-file-panel.open > .panel__body {
    max-height: 500px;
}

.update-file-link {
    display: inline-block;
    margin-right: 3px;
    padding: 4px;
}

.update-file-panel .panel__header,
.update-file-panel .panel-title {
    font-size: 13px;
    height: auto;
}

.update-file-panel .panel-title:hover {
    background: #CCC;
}

.update-file-panel .panel-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 8px;
    position: relative;
    right: 0;
    z-index: 2;
}

.update-file-panel .panel-toggle i.fa {
    font-size: 22px;
    vertical-align: middle;
}

.upload-checking-result {
    margin: 1em;
}
