/* progress */

progress[value='0'] {
    display: none;
}


/* .update-file-panel */

.update-file-panel {
    margin: 0 auto 9px;
    width: 99%;
}

.update-file-panel.open > .panel__body {
    max-height: 500px;
}

.update-file-panel.open {
    box-shadow: 0 0 7px #ccc;
}

.update-file-panel .panel__header,
.update-file-panel .panel-title {
    font-size: 13px;
    height: auto;
}

.update-file-panel .panel-title:hover {
    background: #CCC;
}

.update-file-panel .panel-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 8px;
    position: relative;
    right: 0;
    z-index: 2;
}

.update-file-panel .panel-toggle > i.fa.no-errs {
    font-size: 1em;
}

.update-file-panel .panel-toggle > i.fa.no-errs:before {
    content: "\f1db";
}

.update-file-panel .panel-toggle i.fa {
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}

.update-file-link {
    border-radius: 3px;
    display: inline-block;
    margin: 0 3px;
    padding: 6px 9px;
}

.upload-checking-result {
    margin: 1em;
}

.update-balance-holder {}

.update-readers {
    list-style: none;
    margin: 0;
    padding: 0;
}

.update-readers li {
    padding: 4px;
}


/* 
JUST_UPLOADED = 1;
CHECKED = 2;
LOADED = 3;
CHECKING_ERROR = 4;
LOADING_ERROR = 5;
 */

.update-status-1 .panel__header {
    border-bottom: 2px solid #f5f5f5;
}

.update-status-1 .update-file-link {}

.update-status-2 .panel__header {
    border-bottom: 2px solid #4CAF50;
}

.update-status-2 .update-file-link {
    background: #C5E1A5;
}

.update-status-3 .panel__header {
    border-bottom: 2px solid #4CAF50;
}

.update-status-3 .update-file-link {
    background: #C5E1A5;
}

.update-status-4 .panel__header {
    border-bottom: 2px solid #F44336;
}

.update-status-4 .update-file-link {
    background: #FFADA7;
}

.update-status-5 .panel__header {
    border-bottom: 2px solid #FF9800;
}

.update-status-5 .update-file-link {
    background: #FFC107;
}
