.wizard {
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 1024px;
}

.wizard_steps {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.wizard_step {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 33.3333%;
}

.wizard_step.active {
    z-index: 2;
}

.wizard_step:not(.active)+.wizard_step:not(.active) {
    border-left: 1px solid #FFF;
}

.wizard_step > a {
    background: #EDEEF3;
    color: #444;
    display: block;
    height: 62px;
    padding: 8px 8px 8px 12px;
    position: relative;
    white-space: nowrap;
}

.wizard_step.active > a {
    background: #9B59B6;
    color: #fff;
    padding-left: 26px;
}

.wizard_step:first-child.active > a {
    padding-left: 12px;
}

.wizard_step.disabled > a {
    cursor: not-allowed;
    pointer-events: none;
}

.wizard_step.active > a:before,
.wizard_step.active > a:after {
    border-style: solid;
    border-width: 31px 0px 31px 12px;
    content: '';
    display: block;
    height: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.wizard_step.active > a:before {
    border-color: #9B59B6 rgb(237, 238, 243) #9B59B6 #EDEEF3;
    left: 0px;
}

.wizard_step.active > a:after {
    border-color: #EDEEF3 transparent #edeef3 #9b59b6;
    right: 0px;
}

.wizard_step:first-child.active > a:before {
    border-color: transparent;
}

.wizard_step:last-child.active > a:after {
    border-color: #9b59b6;
}

.wizard_step-title {
    display: block;
    font-size: .85em;
    font-weight: bold;
}

.wizard_step.disabled .wizard_step-title {
    opacity: .5;
}

.wizard_step-description {
    display: inline-block;
    padding: 2px 6px;
}

.wizard_step .fa {
    font-size: 26px;
    margin-top: -13px;
    position: absolute;
    right: 22px;
    top: 50%;
}

.update-file-check-status-2 .wizard_step .fa {
    color: #4CAF50;
}

.update-file-check-status-2 .wizard_step.active .fa {
    color: #FFF;
}

.update-file-check-status-4 .wizard_step .fa {
    color: #F44336;
}

.update-file-check-status-4 .wizard_step.active .fa {
    color: #FFF;
}

.wizard_step:last-child .wizard_step-description:not(.wizard_step-no-action) {
    background: #9B59B6;
    color: #fff;
}


/* .wizard_nav */

.wizard_nav {
    margin: 0px auto 20px;
    overflow: hidden;
    text-align: right;
    width: 100%;
}

.wizard_nav .wizard_nav-reset,
.wizard_nav .wizard_nav-btn,
.wizard_nav .wizard_nav-btn {
    border: 1px solid #9B59B6;
    border-top: 0;
    color: #555;
    display: inline-block;
    font-size: .85em;
    padding: 4px 8px;
    position: relative;
    vertical-align: top;
}

.wizard_nav .wizard_nav-btn > span {
    line-height: 1em;
}

.wizard_nav .wizard_nav-btn > .fa {
    color: #9b59b6;
    font-size: 1.3em;
    margin-left: 4px;
}

.wizard_nav .wizard_nav-btn.active {
    background: #9B59B6;
    color: #fff;
}

.wizard_nav .wizard_nav-btn.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.wizard_nav .wizard_nav-reset {
    float: left;
}

.wizard_nav-btn + .wizard_nav-btn {
    border-left: 0;
}


/* .wizard_content */

.wizard_content {
    border: 1px solid #9B59B6;
    display: block;
    padding: 0px;
}

.wizard_content-gr {}

.wizard_content-gr > header {
    background: #f5f5f5;
    color: #888;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 8px;
}

.wizard_content-gr > section {
    padding: 16px;
}

.wizard_content .btn {
    vertical-align: middle;
}


/* actions link */

.wizard_action-btn {
    background: #fff;
    border: 1px solid #BA89CE;
    color: #444;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 0;
    padding: 2px 8px;
}

.wizard_action-btn.active {
    color: #e00;
}

.wizard_action-btn > span {
    display: inline-block;
    line-height: 1.8;
}

.wizard_action-btn > .fa {
    color: #9b59b6;
    float: right;
    font-size: 1.8em;
    margin-left: 8px;
    vertical-align: top;
}


/* .update-file-name */

.wizard_content .update-file-name {
    display: inline-block;
    padding: 0 16px;
    vertical-align: middle;
}

.update-file-msg {
    background: #FFF070;
    color: #333;
    display: block;
    margin: 0;
    padding: 8px;
}

.update-file-check-status-2 .update-file-msg {
    background: #CEEAC2;
    color: #3c763d;
}

.update-file-check-status-4 .update-file-msg {
    background: #F3D4D4;
    color: #a94442;
}
