.blink-anim {
    -webkit-animation: blinkAnim 1.3s;
    animation: blinkAnim 1.3s;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes blinkAnim {
    from {
        background: yellow;
    }
    to {
        background: white;
    }
}


/* Standard syntax */

@keyframes blinkAnim {
    from {
        background: yellow;
    }
    to {
        background: white;
    }
}

.dropdown {}

.dropdown-toggle {
    cursor: pointer;
    display: block;
    padding: 0 8px;
}

.dropdown-menu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
    float: left;
    font-size: 13px;
    line-height: 1.4;
    list-style: none;
    margin: 2px 0 0;
    min-width: 170px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu.right {
    left: auto;
    right: 2px;
}

.dropdown-menu:before {
    border: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    content: "";
    display: inline-block;
    position: absolute;
    top: -16px;
    left: 9px;
}

.dropdown-menu:after {
    position: absolute;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
    top: -14px;
    left: 10px;
}

.dropdown-menu.right:before {
    left: auto;
    right: 9px;
}

.dropdown-menu.right:after {
    left: auto;
    right: 10px;
}

.dropdown .dropdown-menu .divider {
    background-color: #E6E6E6;
    display: block;
    font-size: 0;
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
}

.dropdown-menu > li {
    margin: 0;
    padding: 0;
}

.dropdown-menu > li > a {
    display: block;
    margin: 0;
    padding: 8px 12px;
}

.dropdown-menu > li > a:hover {
    background-color: #F9F9F9;
}

.nav-tabs {
    padding-left: 5px;
}

.nav-tabs li.active > a {
    /* box-shadow: 0 -1px 1px #ddd; */
}

.nav-tabs > li > a {
    color: #666;
    padding: 6px 12px;
}

.tab-pane {
    margin: 8px 0;
    min-height: 30px;
}

.content-body .nav-tabs {
    padding-top: 1em;
}

.body-dialog-open {
    overflow: hidden;
}

.nb-dialog {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 8px 30px -5px rgba(0, 0, 0, .5);
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}

.nb-dialog .nb-dialog-container {
    margin: 0;
    overflow-y: auto;
    padding: 8px;
}

.nb-dialog .loading-state {
    background: url(../img/loading.gif) no-repeat left top;
    display: block;
    height: 2em;
}

.nb-dialog .no-selected-value {
    background: #F44336;
    color: #fff;
    font-size: 1.1em;
    left: 5%;
    margin-top: -27px;
    padding: 16px;
    position: absolute;
    right: 5%;
    top: 50%;
}

.nb-dialog .dialog-error {
    border-left: 2px solid #F00 !important;
    margin: .5em !important;
}

.nb-dialog .dialog-warn {
    border-left: 2px solid #F90 !important;
    margin: .5em !important;
}


/* dialog-filter */

.nb-dialog .dialog-filter {
    background-color: #F6F5F3;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    padding: .4em;
    text-align: left;
}

.nb-dialog .dialog-filter input[type=text] {
    border: 1px solid #AAA;
    padding: .3em;
    width: 100%;
}


/* .nb-dialog-list */

.nb-dialog-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nb-dialog-list li {
    border: none;
    margin: 0;
    padding: 0;
}

.nb-dialog-list li > ul {
    margin: 0;
    padding-left: 16px;
}

.nb-dialog-list-it label {
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 4px;
}

.nb-dialog-list-it input[type] {
    margin-right: .4em;
}

.nb-dialog-list-it:nth-child(even) {
    background-color: #F7F7F7;
}

.nb-dialog-list-it:hover {
    background-color: #FFF2AD;
}

.nb-dialog-list-it label > span {
    display: inline-block;
    padding: 4px;
}

.nb-dialog-list-it input:checked + span {
    background-color: #fff2ad;
}

.selectize-dialog {
    cursor: pointer;
}

.selectize-dialog:before {
    content: "\f044";
    display: block;
    font: 14px/1 FontAwesome;
    margin-top: -7px;
    position: absolute;
    right: 8px;
    top: 50%;
}

.nb-notify {
    border: 1px solid #FFF;
    border-top: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.102);
    left: 20%;
    max-width: 90%;
    position: fixed;
    right: 20%;
    top: 0;
    transition: all .25s ease-out 0;
    z-index: 1000;
}

.nb-notify:empty {
    display: none;
}

[class^='nb-notify-entry'] {
    background: #55B4DE;
    border-top: 1px solid #0A8EC1;
    color: #FFF;
    display: none;
    opacity: 0.95;
    padding: .5em;
    text-align: center;
    width: 100%;
    z-index: 999;
}

.nb-notify-entry-info {
    background: #55B4DE;
    border-color: #0A8EC1;
    color: #000;
}

.nb-notify-entry-success {
    background: #8DE98D;
    border-color: #50C24E;
    color: #006400;
}

.nb-notify-entry-error {
    background: #FFBABA;
    border-color: #FFD8D8;
    color: #000;
}

.nb-notify-entry-process {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==");
}

@media ( max-width: 768px) {
    .nb-notify {
        left: 5%;
        right: 5%;
    }
}

.panel {
    border: 1px solid transparent;
    margin-bottom: 1px;
    position: relative;
}

.panel.open {
    border-color: #E6E6E6;
}

.panel__header {
    display: block;
    height: 34px;
    position: relative;
}

.panel:hover .panel__header {
    background-color: #f7f7f7;
}

.panel.open .panel__header {
    background-color: #f9f9f9;
}

.panel-title {
    display: block;
    height: 34px;
    padding: 8px 16px;
    position: relative;
}

.panel.open .panel-title {}

.panel .panel-actions {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 34px;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}

.panel .panel-btn {
    display: inline-block;
    height: 34px;
    padding: 8px 12px;
    position: relative;
}

.panel .panel-btn.active {
    background: #EEE;
}

.panel .panel-btn.active i.fa {
    color: #333;
}

.panel .panel-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 34px;
    padding: 8px;
    position: absolute;
    right: 0;
    z-index: 2;
}

.panel .panel-btn:hover,
.panel .panel-toggle:hover {
    background: #EEE;
}

.panel .panel-btn > i.fa,
.panel .panel-toggle > i.fa {
    color: #AAA;
}

.panel .panel-btn:hover > i.fa,
.panel .panel-toggle:hover > i.fa {
    color: #666;
}

.panel .panel-toggle > i.fa:before {
    content: "\f107";
}

.panel.open .panel-toggle > i.fa:before {
    content: "\f106";
}

.panel > .panel__body {
    display: block;
    max-height: 0px;
    overflow: hidden;
    position: relative;
    transition: max-height .15s;
    z-index: 2;
}

.panel.open > .panel__body {
    max-height: 300px;
    overflow-y: auto;
}

.scroll-shadow {
    background: linear-gradient(to top, white, white), radial-gradient(at 50% 0, rgba(0, 0, 0, .2), transparent 70%);
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-attachment: local, scroll;
}

[class^="span"],
[class*=" span"] {
    max-width: 100%;
}

.span12 {
    width: 940px;
}

.span11 {
    width: 860px;
}

.span10 {
    width: 780px;
}

.span9 {
    width: 700px;
}

.span8 {
    width: 620px;
}

.span7 {
    width: 540px;
}

.span6 {
    width: 460px;
}

.span5 {
    width: 380px;
}

.span4 {
    width: 300px;
}

.span3 {
    width: 220px;
}

.span2 {
    width: 140px;
}

.span1 {
    width: 60px;
}

.container {
    margin: 0px auto;
    max-width: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

/* content-header */

.content-header {
    border-bottom: 1px solid #E6E6E6;
    margin: 0;
    padding: 0;
}

.content-header.content-horizontal {}

.content-header:after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}


/* btn-back */

.btn-back {
    background: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 36px;
    margin: 7px 2px;
    outline: 0;
    width: 36px;
}

.btn-back:hover {
    background: #f2f2f2;
}

.btn-back i {
    color: #999;
    font-size: 1em;
    margin: 0;
}

.btn-back:hover i {
    color: #666;
}


/* header-title */

.header-title {
    color: #303333;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 14px 16px;
}

.tablet .header-title,
.phone .header-title {
    font-size: 16px;
}

.btn-back + .header-title {
    padding-left: 0;
}

.content-header.content-horizontal .header-title {
    float: left;
}


/* content-actions */

.content-actions {
    border-top: 1px solid #E6E6E6;
    margin: 0;
    padding: 6px;
    vertical-align: middle;
}

.content-header.content-horizontal .content-actions {
    border: none;
    float: right;
}

.content-actions:after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

footer.content-actions {
    border-top: 1px solid #E6E6E6;
    padding-left: 243px;
}

@media ( max-width: 960px) {
    footer.content-actions {
        padding-left: 195px;
    }
}

@media ( max-width: 768px) {
    .content-actions {
        padding: 4px;
    }
    footer.content-actions {
        padding-left: 8px;
        text-align: center;
    }
}


/* content-body */

.content-body {
    margin: 0;
    padding: 0;
}

.content-body:after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.form {
    margin: 0;
    padding: 0;
}

.fieldset {
    border: none;
    margin: 0;
    padding: 8px;
}

.fieldset > .legend {
    border: none;
    border-bottom: 1px solid #E6E6E6;
    color: #000;
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 0 0 0 1em;
    width: 100%;
}

.form-group {
    border-bottom: 1px solid transparent;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 34px;
    padding: 4px 0;
}

.form-group:after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.tablet .form-group,
.phone .form-group {
    border-bottom-color: #F2F2F4;
}

.form-group.has-controls-label {}

.form-group-last {
    border-bottom: none;
}

.form-group-divider {
    display: block;
    border: none;
    border-bottom: 1px dotted #D9D9D9;
    height: 1px;
    margin: 8px 0;
}

.form-group .control-label {
    color: #303333;
    display: block;
    float: left;
    font-size: 1em;
    margin: 0;
    max-width: 100%;
    min-height: inherit;
    overflow: hidden;
    padding: 5px 0px 0px;
    text-align: right;
    width: 220px;
}

.form-group .control-label-icon {
    color: #666;
    display: block;
    float: left;
    margin: 0;
    margin-left: -4px;
    min-height: inherit;
    overflow: hidden;
    padding: 6px 2px 2px;
    text-align: center;
    width: 48px;
}

.form-group .control-label-icon i {
    color: #666;
    font-size: 18px;
}

.form-group.has-controls-label > .control-label-icon {
    padding-top: 30px;
}

.form-group .controls {
    color: #000;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: inherit;
    padding: 0px;
}

.form-group .control-label-icon + .controls {
    margin: 0 0 0 48px;
}

.form-group .control-label + .controls {
    margin: 0 0 0 235px;
}

.form-group .controls-label {
    background: none;
    display: block;
    font-weight: normal;
    height: 18px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

.form-group.vertical {
    border-bottom-color: transparent !important;
}

.form-group.vertical .control-label,
.form-group.vertical .controls {
    display: block;
}

.field-wrap {
    padding: 0;
    position: relative;
}

.error-massage {
    color: #F00;
    display: none;
    padding: 2px;
}

.has-error > .error-massage {
    display: block;
}

.has-error input,
.has-error textarea,
.has-error select {
    border-color: #DE3309;
}

@media ( max-width: 960px) {
    .form-group .control-label {
        width: 170px;
    }
    .form-group .control-label + .controls {
        margin: 0 0 0 180px;
    }
}

@media ( max-width: 768px) {
    .form-group {
        border-bottom-color: #F2F2F4;
    }
    .form-group .control-label {
        text-align: left;
        width: 135px;
    }
    .form-group .control-label + .controls {
        margin-left: 140px;
    }
}

@media ( max-width: 540px) {
    .form-group .control-label {
        width: 90px;
    }
    .form-group .control-label + .controls {
        margin-left: 95px;
    }
}

.layout {
    margin: 0px auto;
    min-height: 100%;
    min-width: 320px;
    position: relative;
    width: 100%;
}

.header {
    border: none;
    display: block;
    max-width: inherit;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.aside {
    background-color: #F7F7F7;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 50px;
    transition: all .15s;
    width: 280px;
    z-index: 4;
}

.tablet .aside,
.phone .aside {
    border: none;
    top: 0;
    z-index: 99;
}

.content {
    background: #FFF;
    border: none;
    /* box-shadow: 0 0 2px rgba(0, 0, 0, .2); */
    height: auto;
    margin: 0 0 10px 0;
    padding: 0 0 20px 0;
    padding-top: 50px;
    position: relative;
    transition: margin-left .15s;
}

body:not(.side-nav-toggle) .aside + .content {
    margin-left: 280px;
}

.tablet .content,
.phone .content {
    margin-left: 0 !important;
}

.content-overlay {
    background: rgba(0, 0, 0, .3);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
}

.app-loading {
    background: #FFF;
    height: 100%;
    left: 0;
    padding-top: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
}

.app-loading img {
    display: inline-block;
    margin: auto;
}

.loading {
    /* background: #FFF url(../img/loader-mini.gif) center center no-repeat; */
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 75px;
    width: 100%;
    z-index: 999;
}

.navbar {
    background: #FEEA84 url(../img/main_header_bg.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 2px rgba(0, 0, 0, .2);
    color: #303030;
    font-size: 0;
    height: 50px;
    line-height: 1;
    margin: 0;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
}

.navbar .navbar-header {
    display: inline-block;
    float: left;
    margin: 0;
    max-width: 200px;
}

.brand-logo {
    max-height: 48px;
    vertical-align: middle;
}

@media ( max-width: 768px) {
    .brand-logo {
        /* display: none; */
        max-width: 80px;
    }
}

.brand-title {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
}

@media ( max-width: 768px) {
    .brand-title {
        display: none;
    }
}

.brand-logo + .brand-title {
    margin-left: 10px;
}

.navbar-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.navbar-nav .nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-right {
    float: right;
    margin: 0;
}

.navbar a {
    font-size: 13px;
}

.navbar a,
.navbar a:hover {
    color: #303333;
    text-decoration: none;
}

.navbar button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 0 8px;
    vertical-align: top;
}

.navbar i.fa {
    color: #646464;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}

.navbar i + span {
    margin-left: 3px;
}


/* .btn-side-nav-toggle */

button.btn-side-nav-toggle {
    cursor: pointer;
    display: inline-block;
    height: 50px;
    position: relative;
    vertical-align: middle;
}

.tablet .btn-side-nav-toggle,
.phone .btn-side-nav-toggle {
    display: inline-block;
}

.btn-side-nav-toggle:hover:before,
.btn-side-nav-toggle:hover:after {
    border-color: #888;
}

.btn-side-nav-toggle:before {
    border-bottom: 3px solid #AAA;
    border-top: 3px solid #AAA;
    content: '';
    display: block;
    padding: 2px 0;
    width: 16px;
}

.btn-side-nav-toggle:after {
    border-top: 3px solid #AAA;
    content: '';
    display: block;
    margin-top: 4px;
    width: 16px;
}


/* .navbar .dropdown */

.navbar .dropdown .dropdown-toggle {
    display: none;
    line-height: 20px;
    margin: 0;
    min-width: 48px;
    padding: 15px;
    text-align: center;
}

.navbar .dropdown .dropdown-menu {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 0;
    float: left;
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0 8px;
    position: relative;
    text-align: left;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown .dropdown-menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.navbar .dropdown .dropdown-menu > li > a {
    color: #333;
    font-size: 13px;
    padding: 15px;
    line-height: 20px;
    text-align: center;
}

.navbar .dropdown .dropdown-menu > li > a:focus,
.navbar .dropdown .dropdown-toggle:focus,
.navbar .dropdown .dropdown-menu > li > a:hover,
.navbar .dropdown .dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar .dropdown li.divider {
    display: none;
}

@media ( max-width: 970px) {
    .navbar .dropdown .dropdown-toggle {
        display: block;
    }
    .navbar .dropdown .dropdown-menu > li > a:hover,
    .navbar .dropdown .dropdown-toggle:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .navbar .dropdown .dropdown-menu {
        background: #FFF;
        box-shadow: 0 6px 9px #ccc;
        display: none;
        padding: 6px 0;
        position: absolute;
    }
    .navbar .dropdown .dropdown-menu li {
        display: block;
    }
    .navbar .dropdown .dropdown-menu > li > a {
        color: #333;
        text-align: left;
    }
    .navbar .dropdown li.divider {
        display: block;
    }
}


/* .navbar-search */

.navbar-search input::-webkit-input-placeholder {
    color: #333;
}

.navbar-search input::-moz-input-placeholder {
    color: #333;
}

.navbar-search input:-moz-input-placeholder {
    color: #333;
}

.navbar-search input:-ms-input-placeholder {
    color: #333;
}

.navbar-search {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 10px 0;
    width: 200px;
}

.navbar-search [type=submit] {
    display: none;
}

.navbar-search .q {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.196), inset 0px 1px 1px rgba(0, 0, 0, 0.102);
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 13px;
    min-height: auto;
    padding: 6px;
    width: 100%;
}

.navbar-search .q:hover {
    background: rgba(255, 255, 255, 0.8);
}

.navbar-search .q:focus {
    background: rgba(255, 255, 255, 1);
}

@media ( max-width: 768px) {
    .navbar-search {
        width: 60px;
    }
    .search-open .navbar-search .q,
    .navbar-search .q:focus {
        background: rgba(255, 255, 255, 1);
        border-radius: 0;
        box-shadow: 0 0 6px #888;
        position: fixed;
        left: 0;
        height: 50px;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .search-open .content-overlay {
        display: block;
    }
}

.search-open .header {
    z-index: 9;
}

.pagination {
    margin: 0;
    padding: 4px 4px 2px;
    text-align: center;
}

.pagination a {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #444;
    display: inline-block;
    line-height: 1.3em;
    margin: 1px;
    outline: 0;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
}

.pagination a:hover {
    border-color: #333;
}

.pagination .page-active {
    font-weight: bold;
}

.pagination a.page-first,
.pagination a.page-prev,
.pagination a.page-next,
.pagination a.page-last {
    display: inline-block !important;
}

.pagination-select {
    display: inline-block;
}

.pagination-select select {
    border-radius: 2px;
    min-height: auto;
    padding: 4px;
    vertical-align: baseline;
}

.phone .pagination a {
    display: none;
    margin: 1px 2px;
}

.tablet .pagination a:active,
.phone .pagination a:active {
    background: #dfdfdf !important;
}

/* side-nav */

.side-nav {
    border-right: 1px solid #DDD;
    box-shadow: inset -3px 0 3px -3px rgba(0, 0, 0, 0.1);
    padding: 8px 4px;
    word-wrap: normal;
}

.tablet .side-nav,
.phone .side-nav {
    background: #FFF;
    left: -280px;
    height: 100%;
    overflow-y: auto;
    padding: 8px 4px;
    top: 0;
    transition: all .15s;
    z-index: 7;
}

.tablet.side-nav-toggle,
.phone.side-nav-toggle {
    overflow: hidden;
}

.tablet.side-nav-toggle .content-overlay,
.phone.side-nav-toggle .content-overlay {
    display: block;
}


/* desktop */

.side-nav-toggle .side-nav {
    display: none;
    /* -moz-transform: translate(-280px, 0);
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
    transform: translate3d(-280px, 0, 0); */
}


/* device */

.tablet.side-nav-toggle .side-nav,
.phone.side-nav-toggle .side-nav {
    display: block;
    -moz-transform: translate(280px, 0);
    -webkit-transform: translate(280px, 0);
    transform: translate(280px, 0);
    transform: translate3d(280px, 0, 0);
}


/* .side-nav tree */

.side-nav section > header {
    font-weight: bold;
    padding: 6px 12px;
    position: relative;
}

.side-nav ul {
    list-style: none;
    margin: 0 0 0px 18px;
    overflow: hidden;
    padding: 0;
}

.side-nav > section > ul,
.side-nav > ul {
    margin-left: 0;
}

.side-nav li {
    padding: 0;
    position: relative;
}

.side-nav li.divider {
    margin: 5px 0;
}


/* .side-nav .nav-link */

.side-nav .nav-link {
    border-radius: 2px;
    color: #303333;
    cursor: pointer;
    display: block;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding: 6px 16px 6px 30px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.tablet .side-nav .nav-link,
.phone .side-nav .nav-link {
    padding-bottom: 8px;
    padding-top: 8px;
}

.side-nav .nav-link.active {
    background-color: #E5EEF7;
    border: 1px solid #B6D8F8;
    font-weight: bold;
}

.side-nav .nav-link:active {
    background-color: #DDD !important;
    color: #303333;
}

.side-nav .nav-link:hover {
    background-color: #DDD;
    color: #303333;
}

.side-nav .nav-link > i {
    color: inherit;
    display: inline-block;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    width: 20px;
}

.side-nav .nav-link > span {
    display: inline-block;
}

.side-nav .nav-link > i + span {
    padding-left: 2px;
    vertical-align: top;
    white-space: normal;
}


/* .collapsible */

.nav-link.collapsible {
    padding-left: 30px;
}

.side-nav .collapsible + ul {
    max-height: 1000px;
    transition: max-height .15s;
}

.side-nav .nav-link-collapsed + ul {
    max-height: 0px;
}


/* .side-tree-toggle */

.side-nav i.side-tree-toggle {
    height: 100%;
    left: 0;
    padding: 9px 11px;
    position: absolute;
    top: 0;
    width: 28px !important;
}

.tablet .side-nav i.side-tree-toggle,
.phone .side-nav i.side-tree-toggle {
    padding-bottom: 11px;
    padding-top: 11px;
}

.side-nav i.side-tree-toggle:hover {
    color: inherit;
}

.side-nav .nav-link > i.side-tree-toggle:before {
    content: "\f147";
}

.side-nav .nav-link.nav-link-collapsed > i.side-tree-toggle:before {
    content: "\f196";
}

.view {
    position: relative;
    width: 100%;
}

.view-empty {
    color: #666;
    font-size: 1.3em;
}


/* entries-head */

.entries-head {
    display: block;
}

.head-wrap {
    background: #F8F8F8;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid transparent;
    display: block;
    max-height: 90px;
    min-height: 40px;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}

.head-wrap .entry-select {
    height: 40px;
    margin: 0;
    padding: 9px 0;
}

.entry-captions {
    display: inline-block;
    padding: 9px 11px 9px 40px;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}

.entry-captions > span {
    display: inline-block;
    overflow: hidden;
    padding: 0 3px;
    vertical-align: top;
    white-space: normal;
}


/* entries */

.entries {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.entry-wrap {
    background: #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.entry-wrap.entry-action-open,
.entry-wrap:hover {
    background: #F5F5F5;
}


/* entry */

.entry {
    background: #FFF;
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: transform .20s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    width: 100%;
    z-index: 3;
}

.entry-wrap:hover .entry,
.entry:hover {
    background: #F5F5F5;
}

.entry-action-open .entry {
    background: #FFF;
    box-shadow: 0 0 6px #666;
    direction: rtl;
    -moz-transform: translate(-70px, 0);
    -webkit-transform: translate(-70px, 0);
    transform: translate(-70px, 0);
}

.entry a {
    color: #333;
    text-decoration: none;
}

.entry:hover a {
    color: #0000EE;
    text-decoration: none;
}


/* entry-select */

.entry-select {
    display: inline-block;
    height: 100%;
    line-height: inherit;
    margin: 0;
    padding: 11px 0;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 36px;
    z-index: 1;
}

.entry-select > input {
    height: auto;
    min-height: auto;
    vertical-align: baseline;
}

.entry-action-open .entry-select {
    display: none;
}

.tablet .entry .entry-select,
.phone .entry .entry-select {
    padding: 15px 0;
}


/* entry-link */

.entry-link {
    display: inline-block;
    padding: 11px;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.entry-select + .entry-link {
    padding-left: 40px;
}

.tablet .entry-link,
.phone .entry-link {
    padding-bottom: 20px;
    padding-top: 20px;
}

.entry-link.active {
    background-color: #F5F5F5;
}

.entry-fields {
    position: relative;
}

.entry-fields > span {
    display: inline-block;
    overflow: hidden;
    padding: 0 3px;
    vertical-align: top;
    white-space: normal;
    word-break: break-all;
}


/* entry-actions */

.entry-actions {
    bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 2;
}

.entry-action-open .entry-actions {
    display: block !important;
}

.entry-wrap:hover .entry-actions {
    display: block;
    z-index: 4;
}

.tablet .entry-wrap:hover .entry-actions,
.phone .entry-wrap:hover .entry-actions {
    z-index: 2;
}

.entry-action {
    border: none;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    line-height: 100%;
    padding: 4px 16px;
    position: relative;
    text-align: center;
}

.action-delete {
    background: white;
    color: red;
}

.action-delete:hover {
    background: red;
    color: white;
}

.action-delete:hover .fa {
    color: white;
}


/* child */

.child .indent {
    display: inline-block;
    padding-left: 16px;
}

.child .child .indent {
    padding-left: 32px;
}

.child .child .child .indent {
    padding-left: 48px;
}

.child .child .child .child .indent {
    padding-left: 54px;
}

i.has-parent {
    border-bottom: 1px solid #AAA;
    border-left: 1px solid #AAA;
    display: inline-block;
    height: 11px;
    vertical-align: top;
    width: 11px;
}

.entry-action-open i.has-parent {
    display: none;
}

.btn {
    background: #fff linear-gradient(#fff, #f1f1f1);
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #243140;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    margin: 1px;
    outline: 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.196);
    vertical-align: top;
    white-space: nowrap;
}

.btn-xs {
    padding: 2px 4px;
}

.btn-sm {
    padding: 4px 6px;
}

.btn-lg {
    padding: 16px 18px;
}

.btn:hover {
    border-color: #aaa;
    text-decoration: none;
}

.btn:focus {
    border-color: #aaa;
    outline: 0;
}

.btn:active {
    background: #f8f8f8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    outline: 0;
}

.tablet .btn,
.phone .btn {
    line-height: 18px;
}

.btn[disabled],
.btn.disabled {
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

.btn-default {
    background-color: #F5F6F7;
}

.btn-primary {
    background: #FFED81;
    border: 1px solid #FFCE00;
}

.btn-primary:hover {
    background: #FFF1A8;
}

.btn-primary:active {
    background: #FFED81;
}

.btn-warning {
    background: #F44336;
    border: 1px solid #E00000;
    color: #FFF;
}

.btn-warning:hover {
    background: #FF5722;
    color: #FFF;
}

.btn-warning:active {
    background: #F44336;
    color: #FFF;
}

.btn-link {
    background: none;
    border: 1px solid transparent;
}

.btn-link:hover,
.btn-link:active {
    background: none;
    text-decoration: underline;
}

.btn-link.btn-warning,
.btn-link.btn-warning:hover {
    color: #FF5722;
}

.btn-link.btn-warning:active {
    color: #F00;
}

.btn i {
    color: #666666;
    vertical-align: baseline;
}

.btn i+span {
    margin-left: 3px;
}

.btn-group .btn {
    margin: 0;
}

.btn + .btn-group,
.btn-group + .btn {
    margin: 1px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    font: 13px/1.43 Verdana, Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}


/* fix: content overflow */

fieldset {
    display: block;
    min-width: inherit;
}

@-moz-document url-prefix () {
    fieldset {
        /* moz */
        display: table-column !important;
    }
}

a {
    color: #2222CC;
    margin: auto;
    text-decoration: none;
}

a:hover {
    color: #EE0000;
    text-decoration: underline;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

button+button {
    margin-left: 3px;
}

button {
    cursor: pointer;
}

button img {
    margin-right: .3em;
    max-height: 1.3em;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.no_transition * {
    transition: none !important;
}


/* .hidden-md */

.hidden-md {}

html body.phone .hidden-md {
    display: none !important;
}

@media ( max-width: 768px) {
    html body .hidden-md {
        display: none !important;
    }
}


/* fa */

.fa {
    color: #666;
    font-size: 14px;
}


/* floating */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


/* clearfix */

.clearfix:after {
    content: ' ';
    clear: both;
    display: block !important;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block !important;
}

.divider {
    background-color: #E6E6E6;
    display: block;
    font-size: 0;
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.hint {
    color: #767676;
    font-size: 13px;
    margin: 2px 0;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.text-muted {
    color: #888;
}

.text-center {
    text-align: center;
}

.wsnowrap {
    white-space: nowrap;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857143;
    max-width: 100%;
    padding: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.input {
    position: relative;
}

.input,
input,
textarea,
select {
    background: white;
    border: 1px solid #CCC;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    min-height: 34px;
    font-size: 1em;
    max-width: 100%;
    outline: 0;
    padding: 7px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.input,
input,
textarea {
    /* box-shadow: inset 0px 3px 3px #f5f5f5; */
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}

select {
    background: #FFF linear-gradient(#FFF, #F7F7F7);
}

input[type=date] {
    height: 28px;
}

input[type=color] {
    box-shadow: none;
    height: 48px !important;
    padding: 1px;
    width: 48px !important;
}

.input:hover,
input:hover,
textarea:hover,
select:hover {
    border-color: #888;
}

.input:focus,
.input:active,
input:focus,
input:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
    border-color: #4D90FE;
    box-shadow: 0px 0px 1px rgba(39, 128, 248, 0.196);
}

input[readonly]:focus {
    background: white;
}

.input[readonly],
input[readonly],
.input[disabled],
input[disabled] {
    background: #F6F6F6;
}

input[type=checkbox][disabled],
input[type=radio][disabled] {
    background: #DDD;
}


/* input[required]:invalid:not(:focus),
textarea[required]:invalid:not(:focus) {
    box-shadow: 0 0 1px rgba(255, 0, 0, 0.3);
    border-color: #FF845D;
} */

input[type=checkbox],
input[type=radio] {
    border: 1px solid #CCC;
    box-shadow: none;
    margin: 0;
    max-width: 16px;
    min-height: auto;
    padding: 1px;
    width: auto !important;
}

input[type=radio] {
    border: 1px solid transparent;
}

textarea {
    min-height: 5em;
    width: 100%;
}

.tablet input,
.tablet textarea,
.phone input,
.phone textarea {
    width: 100%;
}

.tablet input[type=checkbox],
.tablet input[type=radio],
.phone input[type=checkbox],
.phone input[type=radio] {
    padding: 2px;
}

.fieldset[disabled] input,
.fieldset[disabled] select {
    background-color: #FAFAFA;
}

@media ( max-width: 768px) {
    .input,
    input,
    textarea {
        width: 100%;
    }
    input[type=checkbox],
    input[type=radio] {
        padding: 2px;
    }
}

.has-error > .input.required,
.has-error > input[required]:not(:focus),
.has-error > textarea[required]:not(:focus) {
    box-shadow: 0 0 1px rgba(255, 0, 0, 0.3);
    border-color: #FF845D;
}

.input-placeholder {
    display: inline-block;
    min-height: 34px;
    font-size: 1em;
    padding: 7px;
}

label > input + span {
    display: inline-block;
    margin-left: .3em;
}
