{{#each files as |file|}}
    <div class="attachments-file blink-anim">
        <span class="file-name" data-file="{{file}}">{{file}}</span>
        <span class="btn btn-sm btn-link btn-remove-file">
            <i class="fa fa-times"></i>
        </span>
        <input type="hidden" name="fileid" value="{{file}}"/>
    </div>
{{else}}
    <div class="blink-anim">files empty</div>
{{/each}}
